@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
#root {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  /* overflow: hidden; */
}
.register {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-wrapper {
  height: 500px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
}

.reg-header {
  height: 15%;
  width: 100%;
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(6, 109, 187) 3%,
    rgba(6, 109, 187, 0.2) 100%
  );
  font-weight: 700;
}

.reg-header-text {
  margin-top: 10px;
  margin-left: 10px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 1.2rem;
}

.reg-header-logo {
  height: 100%;
  width: max-content;
  background-color: white;
  display: flex;
  align-items: center;
}

.reg-header-logo img {
  height: 80%;
  width: 100%;
}

.gmail-section {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-ico {
  height: 60%;
  width: 60%;
}

.google-ico img {
  height: 100%;
  width: 100%;
}

.section-break {
  margin-top: 15px;
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
}

.section-break hr {
  width: 45%;
  height: 0%;
}

.section-break span {
  width: 10%;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  font-weight: 600;
  width: 70%;
}

.email-input input {
  width: 80%;
  margin-top: 10px;
  height: 80%;
}

.accept-tc {
  height: 10%;
  width: 70%;
  margin-top: 20px;
  text-align: center;
}

.accept-tc span {
  height: 100%;
  width: 10%;
}

.submit-btn {
  margin-top: 15px;
  height: 6%;
  width: 40%;
  background-color: rgba(73, 132, 236, 0.954);
  color: white;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
}

.footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

a {
  font-size: 15px;
  font-weight: 700;
  color: rgba(73, 132, 236, 0.954);
  text-decoration: none;
}
